.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Style */
.text-primary {
   color: #FD6E0A;  
}
.secondary-bg {
    background-color: #fff8f3;
}
.text-center {
    text-align: center;
}
/* .dark2,color: #474747 */

/* Navbar */

.navbar {
   position: sticky;
   z-index: 1000;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px 247px;
    padding: 1rem 2rem;
}

.logo {
    font-weight: 800;
    font-size: 45px;
    color: #474747; 
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: #474747;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 20px;
    transition: color 0.3s ease;
}
.nav-links li a:hover {
    background-color: gray;
}

/* Button */
.btn {
    display: inline-block;
    background-color: #FD6E0A;
    padding: 18px 35px;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 5px;
}
.btn:hover {
    background-color: #808080;
}
header {
    background-image: url(./images/developer.png), url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin-bottom: 0;
}

/* Banner Styles */
.banner {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 60px 10%;
    flex-wrap: wrap;
}
.banner-content {
    max-width: 580px;
    flex: 1 1 50%;
}
.greeting {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 10px; 
}
.banner-tittle {
    font-size: 85px;
    font-weight: 700;
    margin: 0;
    color: #222;
}
.banner-description {
    font-size: 18px;
    color: #757575;
    margin: 20px 0;
    line-height: 1.6;
}
.banner-buttons .btn {
    margin: 10px 15px 0 0;
}
.banner-img {
    flex: 1 1 40%;
    text-align: center;
}
banner-img img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}


/* Main Body Styles */
main {
    padding: 60px 10%;
    margin: 50px auto;
    max-width: 1170px;
}
.about {
    border-radius: 10px;
    padding: 0 50px;
    text-align: center;
    margin: auto;
}
section {
    margin-top: 100px;
    margin-bottom: 60px;
}
section h2 {
    font-size: 32px;
    color: #181818;
    margin-bottom: 20px;
    position: relative;
}
.about p {
    font-size: 18px;
    color: #757575;
    line-height: 1.6;
}

.about-items {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.item-description {
    font-size: 20px;
    font-weight: 600;
    color: #181818cd;
}

@media screen and (max-width= 576px) {
    .about p {
        width: 100%;
    }
    .about-items {
        flex-direction: column;
    }
}


/* what I do */
.skills {
    padding: 60px 10%;
}
.skills .intro {
    font-size: 18px;
    margin: 0 auto 40px;
    color: #757575;
    line-height: 1.6;
}

/* Skills Section */
.services {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.service-card {
    padding: 25px 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s ease;
}
.service-card img {
    height: 60px;
    width: 60px;
    margin-bottom: 15px;
}
.service-card:hover {
  transform: translateY(-6px);
}
.service-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #181818;
}
.service-card p{
    font-size: 14px;
    color: #757575;
}

@media screen and (max-width: 576px) {
    .services {
        flex-direction: column;
    }
}

/* Resume section styles */
.section-title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}
.resume-container {
     display:flex;
     gap: 24px;
}
.resume-column-title{
    font-size: 25px;
    font-weight: 700;
}
.resume-experience-title {
    font-size: 20px;
    font-weight: 700;
}
.experience-sub-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-decription, .experience-sub-title{
    color: #757575;
}
.resume hr {
    margin: 30px 0;
}
.resume-button {
    margin-top: 50px;
}

@media screen and (max-width: 576px) {
    .resume-container {
        flex-direction: column;
    }
}

/* Footer Styles */
footer {
    padding: 130px 230px;
    display: flex;
    gap: 200px;
}
.footer-column {
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea {
    height: 64px;
    width: 450px;
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    display: block;
    margin-bottom: 24px;
}
.footer-title {
    font-size: 28px;
    font-weight: 700;
}

@media screen and (max-width: 576px) {
    footer {
        flex-direction: column;
        padding: 20px;
    }
    .footer-column {
        width: 100%;
    }
    footer input[type="text"], footer input[type="email"], footer textarea {
        width: calc(100% - 40px);
    }
}